.separator {
  background-image: linear-gradient(to 
  top right, 
  #edeaf3 30%,
  #f1f2fb 29%,
  #f5f6ff 34%,
  #ece6f5 26%
  );

  height: 6px;
  width: 40%;
  border-radius: 3px;
  margin: 16px 0px;
}
