.separator {
  background-image: linear-gradient(to 
  top right, 
  #4e11c9 30%,
  #3638e5 29%,
  #1e31c0 34%,
  #6f14ef 26%
  );

  height: 6px;
  width: 40%;
  border-radius: 3px;
  margin: 16px 0px;
}
